.footer {
    width: 100%;
}
.footer-shroot {
    color: #979797;
    font-family: Almarai;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    cursor: pointer;
}
.footer-phone {
    color: #979797;
    font-family: "Almarai";
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    cursor: pointer;
}